img[src$='#floatleft']
{
	float: left;
    max-width: 50%;
    margin-right: 1.2em;
     
}

img[src$='#floatright']
{
	float:right;
    max-width: 40%;
    margin-left: 1.3em;
    margin-bottom: 0.4em;
    padding-bottom: 1.7em;

      
}

img[alt$=">"] {
    float: right;
    max-width: 18%;
    margin-top: -7em;
    margin-bottom: 3em;
    margin-left: 2em;
    margin-right: 2em;
  }
  
  img[alt$="<"] {
    float: left;
    max-width: 18%;
    margin-top: -7em;
    margin-bottom: 3em;
  }
  
  img[alt$="><"] {
    display: block;
    max-width: 60%;
    height: auto;
    margin: auto;
    float: none!important;
  }

  img[src$='#floatrightintext']
{
	float:right;
    max-width: 20%;
    padding-left: 1.2em;
    padding-bottom: 1.5em;
    padding-top: 1em;
    margin: auto;
      
}



body {
  font-family: Open Sans, sans-serif;
  line-height: 1.4;

}

.u-wrapper {
  display: flex;
  justify-content: space-between; /* Verteilt Elemente: Titel links, Menü in der Mitte, Language rechts */
  align-items: center;
}


.nav.u-wrapper { color: black; background-color: black }

.u-background .u-wrapper {
  background: rgba(76, 103, 71, 0.78);
}
.Banner {
  list-style: none;
  display: flex;
  /* flex-flow: row-reverse wrap-reverse; */
  justify-content: left;
  margin: 0;
  padding: 0;
  color: white;
  flex-grow: 1;
}

webpageTitle {
color: white;
font-size: 46px;
letter-spacing: 3px;
margin-left: 11px;
font-family: Open Sans, sans-serif;
}

.u-padding {
  font-size: 14px;


}

article {
  width: auto;
}

.Banner-link {
  padding: 0.5rem 0.2rem;
}

a.Banner-link.u-clickable {
  font-weight: 120;
  font-size: 16.5px;
  letter-spacing: 1px;
  padding-left: 15px;

  }

  .Banner-item {
    padding-left: -10em;
    
  }


.Banner-item--title {
  text-align: left;
  margin-bottom: 0em;
  margin-top: 0.5em;
  width: auto;
  margin-right: 20px;

  }

.Banner-item:not(:last-child)::after {
    content: " | ";
    margin-left: 8px;
    color: white;
}

p {

  font-size: 14.5px;
  text-align: justify;
}

li {

  font-size: auto;
}

/* img[src$='#netzwerk']
{
  display: block;
  margin-left: auto;
  margin-right: auto;
} */


h3 {
  display: block;
  font-size: 18px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;

  }

.h4 {
    margin-bottom: -1.2em;
  }

  .u-background {
    /*background: rgba(76, 103, 71, 0.78); */
    background: white;
    padding: 7px;
    }

 a {

      color: rgba(76, 103, 71, 0.78);
    }

.Banner-language-switcher {
  font-weight: 100;
  padding-left: 12px;

  text-align: left;
  margin-left: auto;
}

.Banner-language-switcher a {
  text-decoration: none;
  color: white;
  margin: 0 5px;
}

.Banner-language-switcher a:hover {
  text-decoration: underline;
}


.u-clickable {
  font-weight: 700;
  font-size: 20px;
  margin-top: 5px;
  

  
  }


  .spacing {
    margin-top: 130px;
  }
  
