<nav class="u-background">
  <div class="u-wrapper">
    <div class="Banner-title">
      <div class="Banner-item--title">
        <webpageTitle>{{ site.Title }}</webpageTitle>
      </div>
    <div class="Banner-container">
      <ul class = "Banner">
      {{ range site.Menus.main }}
        <li class="Banner-item">
          <a class="Banner-link u-clickable" href="{{ relLangURL .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
<div class="Banner-language-switcher">
  {{ $currentURL := .RelPermalink }}
  {{ range .Site.Languages }}
    {{ if eq .Lang $.Site.Language.Lang }}
      <span class="active language">{{ .LanguageName }}</span>
    {{ else }}
      {{ $prefix := printf "/%s/" .Lang }}
      {{ $newURL := replace $currentURL (printf "/%s/" $.Site.Language.Lang) $prefix }}
      <a href="{{ $newURL }}">{{ .LanguageName }}</a>
    {{ end }}
  {{ end }}
</div>
  </div>

</div>
</nav>