<nav class="u-background">
  <div class="u-wrapper">
    <div class="Banner-title">
      <div class="Banner-item--title">
        <webpageTitle>{{ site.Title }}</webpageTitle>
      </div>
    <div class="Banner-container">
      <ul class = "Banner">
      {{ range site.Menus.main }}
        <li class="Banner-item">
          <a class="Banner-link u-clickable" href="{{ relLangURL .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  <div class="Banner-language-switcher">
    {{ $current := . }}   <!-- aktuelle Seite -->

  {{ $current := . }}  <!-- aktuelle Page -->
  {{ range .Site.Languages }}
    {{ if eq .Lang $current.Language.Lang }}
      <span class="active language">{{ .LanguageName }}</span>
    {{ else }}
      {{ $link := "/" | relLangURL }}
      {{ range $current.Translations }}
        {{ if eq .Lang .Lang }}
          {{ $link = .RelPermalink }}
        {{ end }}
      {{ end }}
      <a href="{{ $link }}">{{ .LanguageName }}</a>
    {{ end }}
  {{ end }}
  </div>
  </div>

</div>
</nav>