<style>
    img {
      width: 20%;
      margin-left: 0.8em;
    

    }
    .box {
        position: relative;
    display: flex;
    align-items:center;
   font-size: 1.2em;
   margin-bottom: 3em;
    }





  </style>
<article>

    <h2> Monografie </h2>
    <div class="box">
    <text>    
    Stiemer, Haimo. 2020. Das Habitat der mondblauen Maus. Eine feldtheoretische Untersuchung der 
        pragerdeutschen Literatur 1890–1938. Würzburg: Königshausen & Neumann.</text>

    <img src="/images/Dissertation.jpg"></img>
    </div>
    <h2> Herausgeberschaften </h2>
    <div class="box">
        <text>    
        Stiemer, Haimo und Albrecht Hausmann. Germanistik in Tschechien. Mitteilungen des Deutschen Germanistenverbandes 2023 Jg. 70, Heft 2. Göttingen: Vandenhoeck & Ruprecht unipress.
        </text>
        <img src="/images/Mitteilungen.jpg"></img>
        </div>
        <div class="box">
            <text>    
            Schmidt, Karsten und Haimo Stiemer. 2022. Bourdieu in der Germanistik. Berlin u. Boston: De Gruyter.
            </text>
        
            <img src="/images/Bourdieu-in-der-Germanistik.png"></img>
            </div>  
            <div class="box">
                <text>    
                Grüttemeier, Ralf, Janka Wagner und Haimo Stiemer. 2020. Neue Sachlichkeit im Kontrast – Deutschland und die Niederlande (spectrum Literaturwissenschaft / spectrum Literature, 72, vol. 72). Berlin u. Boston: De Gruyter.
                </text>
            
                <img src="/images/Neue_Sachlichkeit.jpg"></img>
                </div>  
                <div class="box">
                    <text>    
                Stiemer, Haimo, Dominic Büker und Esteban Sanchino Martinez. 2017. Social Turn? Das Soziale in der gegenwärtigen Literatur(-wissenschaft). Weilerswist: Vellbrück Verlag.
                    </text>
                    <img src="/images/Social_Turn.jpg"></img>
                    </div>    
                    <div class="box">
                        <text>    
                            Buck, Nikolas, Büker, Dominic, Conrad, Maren, Byroum-Wand, Pegah, Ilic, Ana, Johnstone, Japhet, Sanchino Martinez, Esteban, Stiemer, Haimo und Martin Stobbe. 2015. Literatur. Macht. Gesellschaft. Neue Beiträge zur theoretischen
                            Modellierung des Verhältnisses von Literatur und Gesellschaft. Heidelberg: Winter Verlag.                        </text>
                        <img src="/images/Literatur-Macht-Gesellschaft.jpg"></img>
                        </div>  
</article>



